.managers {
    padding: 58px 0 71px 0;
    background: url('../img/bg/manager.jpg') center (center/cover) no-repeat;
    min-height: 342px;
    &__icon {
        width: 102px;
        height: 102px;
        border: 1.0px solid #ffffff;
        border-radius: 50%;
        margin: 0 auto;
    }
    &__img {
        display: block;
        margin: 0 auto;
        margin-top: 50%;
        transform: translateY(-50%);
    }
    &__title {
        font-family: Roboto;
        margin-top: 20px;
        text-align: center;
        font-size: 26px;
        line-height: 23px;
        font-weight: 700;
        color: #ffffff;
    }
    &__descr {
        margin: 0 auto;
        font-family: Roboto;
        text-align: center;
        max-width: 924px;
        margin-top: 18px;
        font-size: 19px;
        line-height: 27px;
        font-weight: 300;
        color: #ffffff;
    }
}