.reviews {
    padding: 51px 0 65px 0;
    &__divider {
        margin-top: 25px;
        margin-bottom: 17px;
    }
    &__subtitle {
        font-family: Roboto;
        font-size: 21px;
        line-height: 24px;
        font-weight: 300;
        color: #2e2e2e;
        text-align: center;
    }
}